/* Properties for entire page */
*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}


/* Ubuntu Fonts */
/* .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  } */

/* Styling for Nav Bar desktop view - START */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #333;
  padding: 14px 20px;
  color: white;
}

.navbar .menu {
  position: absolute; 
  right: 10px;
  cursor: pointer;
  display: none;
}

.navbar .nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px; /* Space between nav items */
}

.navbar .nav-items li {
  padding: 8px 12px;
}

.navbar .nav-items li a {
  color: white;
  text-decoration: none;
}
/* Styling for Nav Bar desktop view - END */

/* Styling for Nav Bar/Side Bar small view - END */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar {
      height: 50px; /* Make the navbar taller on small screens */
      padding: 20px; /* Increase padding for better touch interaction */
  }

  .navbar .nav-items {
      display: none;
  }

  .navbar .menu {
      display: block;
      font-size: 40px; /* Increase the size of the hamburger icon */
      cursor: pointer;
  }
}

/* Styling for Nav Bar/Side Bar small view - END */

/* Styling for home body - START */
.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px; /*change if the button gets cut off*/
}
.home-body {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-body img {
  max-width: 100%;
  height: auto;
}
.home-body button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.home-body button:hover {
  opacity: 0.8;
}
/* Styling for main body - END */

/* Styling for Footer - START */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.footer a:hover {
  color: #f1f1f1;
}
/* Styling for Footer - END */

/* Styling for Buttons - START */
.black-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.black-button:hover {
  background-color: #333;
}
/* Styling for Buttons - START */

/* Styling for Projects Page - START */
.project-container {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.project {
  display: flex;
  margin-bottom: 20px;
}
.project img {
  width: 150px;
  height: auto;
  margin-right: 40px;
}
.project-description {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.description-button {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.description-button p {
  margin: 0;
  flex-grow: 1;
}
.description-button .black-button {
  position: absolute;
  right: 60px; /* Adjust this value to move the button closer to the left */
}
/* Styling for Projects Page - END */


/* Styling for Project Template - START */
.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px; /*change if the button gets cut off*/
}
.project-template {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-template img {
  max-width: 100%;
  height: auto;
}
.project-template button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.project-template button:hover {
  opacity: 0.8;
}
/* Styling for Project Template - END */

/* Styling for Resume Page - START */
.resume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px; /*change if the button gets cut off*/
}
.resume-container {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling for Resume Page - END */

/* Styling for About Me Page - START */
.aboutme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px; /*change if the button gets cut off*/
}
.aboutme-container {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styling for About Me Page - END */


/* Styling for Contact Page - START */
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contact-container {
  max-width: 800px;
  margin-top: 100px;
  /* margin-bottom: 20px;  */
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  
}

.contact-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.contact-list li:last-child {
  border-bottom: none;
}

.contact-list li i {
  margin-right: 10px;
  color: #555;
}

.contact-list li span {
  font-weight: bold;
}

.contact-description {
  margin-left: 10px;
  color: #777;
}
/* Styling for Contact Page - END */






